{% if clause.allow_notify is defined %}
  allow-notify {
{% if clause.allow_notify is string %}
   {{ clause.allow_notify }};
{% else %}
{% for element in clause.allow_notify %}
    {{ element }};
{% endfor %}
{% endif %}
  };
{% endif %}
{#  secondary zone, view, options
---
clause:
  allow_notify: "acl_name"
--- or
clause:
  type: secondary
  allow_notify:
    - "acl_name"
    - key key-name
    - 8.8.4.4
#}