	primaries {% if clause.primaries_port is defined %}port {{ clause.primaries_port }} {% endif %}{
{% for primary in clause.primaries %}
{% if primary is string %}
    {{ primary }};
{% else %}
    {{ primary.host }}{% if primary.port is defined %} port {{ primary.port }}{% endif %}{% if primary.key is defined %} key {{ primary.key }}{% endif %};
{% endif %}
{% endfor %}
};
{# secondary zone
---
clause:
  primaries_port: 53 # optional
  primaries: 192.168.0.53
--- or
clause:
  primaries_port: 53 # optional
  primaries:
    - host: 192.168.0.5
      port: 53 # optional
      key: "key_primary" # optional
    - host: 10.0.0.255
#}