{% if clause.primaryfile_format is defined %}
  primaryfile-format {{ clause.primaryfile_format }};
{% endif %}
{# primary secondary zone, view, options 
---
clause:
  primaryfile_format: text # text | raw | map
  # primary zone default = text
  # secondary zones default = raw
#}