// {{ ansible_managed}}
{% set final_acls = (acls|default({})) %}
{% set final_options = (default_options|combine(options|default({}))) %}
{% import './templates/clauses.j2' as macro_clauses with context %}
{{ macro_clauses.acls(final_acls) }}
{{ macro_clauses.options(final_options) }}
{% if statistics_channel is defined %}
{{ macro_clauses.statistics_channel(statistics_channel) }}
{% endif %}
