// {{ ansible_managed}}
{% import './templates/clauses.j2' as clauses with context %}

{% if RFC1918 == True %}
include "/etc/bind/zones.rfc1918";
{% endif %}

// DNSSEC policies
{% if dnssec_policies is defined -%}
{% for policy_name, policy_args in dnssec_policies.items() -%}
dnssec-policy "{{ policy_name }}" {
  {{ clauses.dnssec_policy(policy_args) }}
};

{%- endfor %}
{%- endif %}

// Keys
{% if keys is defined -%}
  {% for key in keys -%}
    {{ clauses.key(key.name, (key.algorithm|default(none)), (key.secret|default(none))) }}
  {%- endfor %}
{%- endif %}


// Zones
{% for zone in zones %}
{{ clauses.zone(zone ,zones[zone]) }}
{% endfor %}
